* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
}

.navbar {
    width: 100%;
    height: 60px;
    padding: 0;
    background-color: #ffff;
}

.logo {
    transition: 1s;
    cursor: pointer;
}

.logo :hover {
    transform: rotate(-5deg);
}

.main-btn {
    position: relative;
    width: 110px;
    height: 30px;
    background-color: rgb(231, 231, 231);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    padding-right: 20px;
    padding-left: 6px;
}

.main-btn span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: black;
    border-radius: 50%;
    left: 17px;

}

.btn-icon {
    color: #ffff;
}

.btn-rotate {
    transition: 2s all ease-out;
}

.btn-rotate :hover {
    transform: rotate(-6deg);
    transition: 0.3s ease-in;
}

.main-heading {
    padding-top: 95px;
    font-size: 80px;
}

.index-pepa {
    margin-top: 50px;
}

.img-section {
    background-color: rgb(32, 21, 21);
    padding: 0;
}

.images {
    max-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    display: inline;
    list-style-type: none;
}

.all-images {
    width: 100%;
}

.red-btn {
    text-decoration: none;
    color: #ffff;
    background-color: red;
    padding: 6px 14px 6px 14px;
    border-radius: 60px;
    font-size: 14px;
}

.social-name {
    margin-top: 250px;
}

.social-names {
    border-radius: 60px;
    width: 100px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.322);
    font-size: 14px;
    margin: 30px 10px 30px 0;

}

.social-name :hover {
    transform: rotate(-5deg);
}

.about-img {
    width: 130px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.award-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.work-section {
    background-color: aliceblue;
    padding: 100px 0 100px 0;
}

.cards {
    /* overflow: hidden;
    display: block;
    border-radius: 50px !important;
    height: 350px; */
}

/* .cards :hover {
    transform: scale(1.1);
    overflow: hidden !important;
    border-radius: 50px !important;
    
} */
.card-img {
    /* position: relative;
    transition: 0.35s ease;
    overflow: hidden;
    border-radius: 50px !important;  */
    width: 100%;
    height: 350px;
    border-radius: 20px !important;
    position: relative !important;
    transition: 0.25s ease !important;

}
/* .card-img :hover {
    transform: scale(1.1) !important;
    

} */
.view-btn {
    font-size: 12px;
    width: 81px;
    height: 22px;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
    border-radius: 60px;
    text-decoration: none;
    border: 1px solid gray;

}

.view-btn :hover {
    background-color: black;
}

.expertise-section {
    background-color: #1d1f21;
    width: 100%;
    padding: 80px 0 80px;
}

.expertise-card {
    width: 100%;
    height: 300px;
    background-color: #e7e7e7;
    border-radius: 20px;
}

.icon-card {
    width: 90px;
    height: 90px;
    background-color: #1d1f21;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.eye-img {
    width: 50px;
}

.scroll-img-left {
    margin: 30px 30px 30px 0;
}

.scroll-img-center {
    margin: 16px 0 5px 16px;
    width: 95%;
    border-radius: 10px;
}

.scroll-img-right {
    width: 95%;
    height: auto;
    border-radius: 10px 0 0 10px;
    margin: 16px 0px 5px 0;
}

.scroll-img-left {
    width: 100%;
    height: auto;
    border-radius: 0px 10px 10px 0px;
    margin: 16px 0px 5px 0;
}
.contact-section{
    margin: 100px 0 100px 0;
}
.foo-ter{
    padding: 60px 0 60px 0;
}

.footer-line {
    border: 1px solid rgba(128, 128, 128, 0.678);
}

.footer-gmail {
    width: 100px;
    height: 8px;
    border: 1px solid black;
    text-decoration: none;
    margin-top: 50px;
    color: black;
    border-radius: 60px;
    padding: 2px 16px 2px 16px;
    background-color: rgba(255, 255, 255, 0.774);
    font-size: 12px;

}


.con-socil-icons {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #1d1f21;
    color: #ffffffd3;
    border-radius: 5px;
    flex: none;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    margin-right: 1rem;
    display: flex;
    ;
}

.con-socil-names {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-right-section {
    padding: 0 0 0 60px;
}

.services {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 4px 10px 4px 10px;
    font-size: 16px;
    margin: 0px 16px 0px 0px;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    padding: 16px 0px 12px 0px;
    width: 100%;
}

textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    padding: 16px 0px 12px 0px;
    width: 100%;
}

.checkbox {
    font-size: 50px;
    background-color: red;
}

.about-header {
    font-size: 50px;
    padding-top: 100px;
    font-weight: bold;
}

.about-main-photo {
    width: 100%;
    height: 100%;
}

.about-section {
    padding: 0 2px 0 2px;
}

.card-btn {
    padding: 3px 10px 3px 20px;
    font-size: 14px;
    border-radius: 20px;
    border: none;
    color: black;
    margin: 30px 20px 0 0;
}
.work-index-section{
    padding: 80px 0px 80px 0px;
    background-color: #fafafa;
}

.about-img-pre {
    width: 100%;
    height: 570px;
}

.about-center-section {
    background-color: rgb(247, 247, 247);
}

.aboutMe-paragraph{
    padding: 30px;
}

.about-cards {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}
.about-sub-heading{
    font-size: 36px;
}
.about-card-paragraph{
    margin-top: 30px;
}

.about-awards-section {
    background-color: #1d1f21;
}

.achievements-details-btn {
    background-color: #e7e7e7;
    border: 1px solid black;
    border-radius: 20px;
    color: #1d1f21;
    padding: 10px;
    font-size: 14px;
    padding: 3px 20px 3px 20px;
    text-decoration: none;
}

.about-bottum-section {
    background-color: rgb(247, 247, 247);
    padding-top: 100px;
    padding-bottom: 100px;
}

.work-bottum-section {
    background-color: #1d1f21;
    padding-top: 100px;
    padding-bottom: 100px;
}

.project-header-section {
    background-image: url("https://live.staticflickr.com/3282/2591438042_41fc78868a.jpg");
    overflow: hidden;
    width: 100%;
    height: 90vh;
    background-size: cover;
}

.about-header-line {
    border: 1px solid white;
    padding: 0px 30px 0 30px;
}

.projects-black-section {
    background-color: #1d1f21;
    padding: 100px 0 100px 0;
    margin: 50px 0 50px 0;

}

@media screen and (max-width: 480px) {
    .main-heading {
        padding-top: 60px;
        font-size: 33px;
    }

    .index-pepa {
        margin-top: 25px;
    }

    .scroll-img-center {
        margin: 10px 0 0 10px;
        width: 90%;
        border-radius: 10px;
    }

    .scroll-img-right {
        width: 86%;
        height: auto;
        border-radius: 10px 0 0 10px;
        margin: 8px 0px 0px 0;
    }

    .scroll-img-left {
        width: 100%;
        height: auto;
        border-radius: 0px 10px 10px 0px;
        margin: 0px 0px 5px 0;
    }
    .social-name {
        margin-top: 100px;
    }
    .expertise-card {
        width: 100%;
        height: 300px;
        background-color: #e7e7e7;
        border-radius: 20px;
        margin-top: 50px;
    }
    .card-btn {
        padding: 2px 15px 2px 16px;
        font-size: 8px;
        border-radius: 20px;
        border: none;
        color: black;
        margin: 0px 0px 0px 0px;
    }
    .contact-right-section {
        padding: 0 0 0 0;
    }
    .services {
        border: 1px solid gray;
        border-radius: 20px;
        padding: 4px 6px 4px 6px;
        font-size: 14px;
        margin: 0px 6px 0px 0px;
    }
    .about-header {
        font-size: 24px;
        padding-top: 60px;
        font-weight: bold;
    }
    .work-para{
        font-size: 20px;
    }
    .about-cards {
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
        margin: 4px;
    }
    .aboutMe-paragraph{
        padding: 10px;
    }
    .about-sub-heading{
        font-size: 22px;
    }
    .about-card-paragraph{
        margin-top: 20px;
        font-size: 10px;
    }
    
}